<div class="row my-3 mx-auto bg-dark  justify-content-center">
  <div class="col-md-6 bg-dark text-white">
    <article class="card-body">
      <h4 class="card-title text-center mb-4 mt-1">Вход</h4>
      <p class="text-success text-center" *ngIf="edited">{{message}}</p>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input name="" class="form-control" placeholder="Адрес эл.почты" type="email" [(ngModel)]="email">
          </div>
        </div>
        <div class="form-group" id='loginDIVid'>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" placeholder="Пароль" type="password" [(ngModel)]="pass">
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" (click)="authorization()">Вход</button>
        </div>
       <!-- <p class="text-center"><a href="#" class="btn">Забыли?</a></p>-->
        <p class="text-center"><a href="#" class="btn">Регистрация</a></p>

    </article>
  </div>
</div>
