<div class="row my-3 mx-auto border border-danger">
  <div class="col-md-12 bg-dark text-white pt-3">
    <app-player></app-player>
  </div>
  <div class="col-md-12 bg-dark text-white">
    <ul class="nav flex-column bg-dark">
      <li class="nav-item">
        Год выпуска: {{film.year}}
      </li>
      <li class="nav-item">
        Страна: Китай
      </li>
      <li class="nav-item">
        Жанр: Комедия
      </li>
      <li class="nav-item">
        Продолжительность: 132 мин
      </li>
    </ul>
    <div class=" my-2 bg-dark">
      {{film.description}}
    </div>
  </div>

</div>


