<ul class="nav flex-column bg-dark p-3 border border-danger">
  <div class="ya-share2 p-3" data-services="collections,vkontakte,facebook,odnoklassniki,moimir,twitter"></div>
  <li class="nav-item">
    <a class="nav-link" href="#">Боевики</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Вестерны</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Военные фильмы</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Детективы</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Драмы</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Комедии</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Криминал</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Мелодрамы</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Мультфильмы</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Триллеры</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Ужасы</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Фантастика</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Фентези</a>
  </li>
</ul>

