div.card {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.card-img-bottom {
  color: #fff;
  height: 20rem;
  background: url(https://www.kinopoisk.ru/images/film_big/898300.jpg) center no-repeat;
  background-size: cover;
}
