<div class="row my-3 mx-auto border border-danger bg-dark">
  <div class="col-md-12 bg-dark text-white pt-3">
    <h3>{{film.name}}</h3>
  </div>
  <div class="col-md-3 p-0 avatars bg-dark">

    <a [routerLink]="['player',film.id]" data-tooltip="Person 1" data-placement="top">
      <img alt="Poster" src={{film.poster}} class="card-img-top">
    </a>
    <div class=" bg-dark p-3">
      <a [routerLink]="['player',film.id]" class="btn btn-danger btn-block">Смотреть</a>
    </div>



  </div>

  <div class="col-md-9 pt-3 bg-dark filmt text-white">

    <div class="row">


      <div class="col-md-12 bg-dark">
        <ul class="nav flex-column bg-dark">
          <li class="nav-item">
            Год выпуска: {{film.year}}
          </li>

          <li class="nav-item">
            <ul class="list-of-string">
              <li>Страны:</li>
              <li *ngFor="let country of film.countries"> <a [routerLink]="" (click)="searchCountry($event, country)">{{country}}</a> </li>
            </ul>
          </li>

          <li class="nav-item">
            <ul class="list-of-string">
              <li>Жанры:</li>
              <li *ngFor="let genre of film.genres"> <a [routerLink]="" (click)="searchGenre($event, genre)">{{genre}}</a> </li>
            </ul>
          </li>


          <li class="nav-item">
            Режисер: {{film.writers}}
          </li>
          <li class="nav-item">
            Рейтинг: 9.5/10
          </li>
        </ul>
        <div class=" my-2 bg-dark">
          {{film.description.substring(0,520) + "..."}}
        </div>

        <ul class="nav flex-column bg-dark">
        <li class="nav-item">
          <ul class="list-of-string">
            <li>Актеры:</li>
            <li *ngFor="let actor of film.actors"> <a [routerLink]="" (click)="searchActor($event, actor)">{{actor}}</a> </li></ul>
        </li>
        </ul>

      </div>
    </div>
  </div>








</div>
