<!--<div class="card bg-dark text-white shadow">-->
  <!--<img src="https://www.kinopoisk.ru/images/film_big/898300.jpg" class="card-img-top img-fluid">-->
  <!--<div class="card-block">-->
    <!--<h5 class="card-title">{{film.name}}</h5>-->
    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    <!--<a href="#" class="btn btn-primary">Смотрет</a>-->
  <!--</div>-->
<!--</div>-->

<div class="row">
  <div class="card-group">
    <div class="card col-md-3 shadow text-white bg-dark">
      <img src="https://www.kinopoisk.ru/images/film_big/898300.jpg" class="card-img-top img-fluid">
    </div>
    <div class="card col-md-6 shadow text-white bg-dark">
      <div class="card-block">
        <h4 class="card-title">Card 1</h4>
        <p class="card-text">Text 1</p>
      </div>
    </div>
  </div>
</div>
