<div class="row my-3 mx-auto bg-dark  justify-content-center">
  <div class="col-md-6 bg-dark text-white">
    <article class="card-body">
      <h4 class="card-title text-center mb-4 mt-1">Имя пользователя</h4>

      <p class="text-success text-center" [(ngModel)]="message">Ошибка. Криворукий ты урод.</p>
      <form>

        <div class="justify-content-center">

            <a  href="#">
              <img src="//placehold.it/150" class="m-x-auto img-fluid img-circle" alt="avatar" />
            </a>

        </div>
<br>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input name="" class="form-control" placeholder="Изменить имя" type="email" ngDefaultControl name="text" [(ngModel)]="name">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <input name="" class="form-control" placeholder="Адрес эл.почты" type="email" name="text" [(ngModel)]="email">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" placeholder="Пароль" type="password" name="text" [(ngModel)]="pass">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" placeholder="Повторить пароль" type="password" name="text" [(ngModel)]="rePass">
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" (click)="send()">Сохранить</button>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Отмена</button>
        </div>
      </form>
    </article>
  </div>
</div>
