<div class="container my-5">
  <div class="fixed-top p-1 lern">
    <div class="row">
        <div class="col-12 text-right">
        <app-search></app-search>
      </div>
      <div class="col-12 text-right">
        <app-container-panel-auth></app-container-panel-auth>
      </div>
    </div>

  </div>
  <div class="panel-body transparent">
  </div>
  <div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark transparent">
          <a class="navbar-brand" href="#"><img alt="logo" src="https://besplatnyeprogrammy.net/images/jdownloads/fileimages/X-Codec-Pack-Logo.png" class="card-img-top"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active ">
                <button type="button" class=" btn btn-success my-2 mr-sm-2" (click)="getNewFilms()"><i class="fa fa-fire"></i>&nbsp;&nbsp;Новинки фильмов</button>
              </li>
              <li class="nav-item">
                <button type="button" class=" btn btn-success my-2 mr-sm-2"><i class="fa fa-fire"></i>&nbsp;&nbsp;Новинки сериалов</button>
              </li>
              <li class="nav-item">
                <button type="button" class=" btn btn-success my-2 mr-sm-2" (click)="getNewCartoon()"><i class="fa fa-fire"></i>&nbsp;&nbsp;Новинки мультфильмов</button>
              </li>
              <li class="nav-item">
                <button type="button" class=" btn btn-success my-2 mr-sm-2" (click)="getNewCartoon()"><i class="fa fa-trophy" aria-hidden="true"></i>&nbsp;&nbsp;Рейтинг ТОП100</button>
              </li>
            </ul>
        </div>
      </nav>
      <div class="col-sm-12 p-3 bg-dark">
        <div class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-filter" aria-hidden="true"></i> {{country}}<span class="caret"></span></button>
          <ul class="dropdown-menu scrollable-menu" role="menu">
            <a class="dropdown-item" (click)="getFilmsForCountry($event.target)">Все</a>
            <a *ngFor="let country of countries" class="dropdown-item link" (click)="getFilmsForCountry($event.target)">{{country}}</a>
          </ul>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-filter" aria-hidden="true"></i> {{year}}<span class="caret"></span></button>
          <ul class="dropdown-menu scrollable-menu" role="menu">
            <a class="dropdown-item" (click)="getFilmsForYear($event.target)">Все</a>
            <a *ngFor="let year of years" class="dropdown-item link" (click)="getFilmsForYear($event.target)">{{year}}</a>
          </ul>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-filter" aria-hidden="true"></i> {{activeGenre}}<span class="caret"></span></button>
          <ul class="dropdown-menu scrollable-menu" role="menu">
            <a class="dropdown-item" (click)="searchGenre($event, 'Все')">Все</a>
            <a *ngFor="let genre of this.genres" class="dropdown-item link" (click)="searchGenre($event, genre)">{{genre}}</a>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 pt-3 sidebar-nav d-none d-lg-block bold"> <!-- d-none d-lg-block - эти классы сккрывают блок div на маленьком экране-->
      <ul class="nav flex-column bg-dark p-0">
        <li class="nav-item" [ngClass]="{'active-genre': 'ВСЕ' == activeGenre}">
          <a  class="nav-link" [routerLink]="" (click)="searchGenre($event, 'Все')"><i class="fa fa-film text-danger"></i>&nbsp;&nbsp;Все</a>
        </li>
       <li *ngFor="let genre of this.genres" class="nav-item" [ngClass]="{'active-genre': genre == activeGenre}">
         <a  class="nav-link" [routerLink]="" (click)="searchGenre($event, genre)"><i class="fa fa-film text-danger"></i>&nbsp;&nbsp;{{genre}}</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 pt-0">
      <div class="row">
        <div class="col-sm-12" id="outlet">
          <router-outlet></router-outlet> </div>
      </div>
    </div>
  </div>
</div>
