<div class="container">
  <div class="row">
    <div class="col-12 ">

      <nav class="navbar navbar-expand-lg navbar-dark bg-danger ">
        <a class="navbar-brand" href="#">iFilm</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active ">
              <button type="button" class="btn btn-success my-2 mr-sm-2">Новинки фильмов</button>


            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-warning my-2 mr-sm-2">Новинки сериалов</button>


            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-info my-2 mr-sm-2">Новинки мультфильмов</button>
            </li>

          </ul>


          <div class="col-sm-3 pt-3 sidebar-nav d-lg-none"> <!-- d-lg-none - этот класс сккрывает блок div на большем экране-->
            <ul class="nav flex-column bg-dark p-3 border border-danger">
              <div class="ya-share2 p-3" data-services="collections,vkontakte,facebook,odnoklassniki,moimir,twitter"></div>
              <li class="nav-item">
                <a class="nav-link" href="#">Боевики</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Вестерны</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Военные фильмы</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Детективы</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Драмы</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Комедии</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Криминал</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Мелодрамы</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Мультфильмы</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Триллеры</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Ужасы</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Фантастика</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Фентези</a>
              </li>


            </ul>
          </div>

        </div>

        <div class="form-inline my-2 my-lg-0">
          <app-search class="mr-sm-2"></app-search>
          <button (click)="sendMsg()" class="btn btn-outline-warning my-2 my-sm-0">Search</button>
        </div>

      </nav>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 pt-3 sidebar-nav d-none d-lg-block"> <!-- d-none d-lg-block - эти классы сккрывают блок div на маленьком экране-->
      <ul class="nav flex-column bg-dark p-3 border border-danger">
        <div class="ya-share2 p-3" data-services="collections,vkontakte,facebook,odnoklassniki,moimir,twitter"></div>
        <li class="nav-item">
          <a class="nav-link" href="#">Боевики</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Вестерны</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Военные фильмы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Детективы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Драмы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Комедии</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Криминал</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Мелодрамы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Мультфильмы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Триллеры</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ужасы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Фантастика</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Фентези</a>
        </li>


      </ul>
    </div>

    <div class="col-sm-9 pt-3">
      <div class="col-sm-12 bg-dark text-white border border-danger">
        Сортировать по:
        <div class="btn-group p-2">
          <button type="button" class="btn btn-danger">Год</button>
          <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">2018</a>
            <a class="dropdown-item" href="#">2017</a>
            <a class="dropdown-item" href="#">2016</a>
            <a class="dropdown-item" href="#">2015</a>
            <a class="dropdown-item" href="#">2014</a>
            <a class="dropdown-item" href="#">2013</a>
          </div>
        </div>
        <div class="btn-group p-2">
          <button type="button" class="btn btn-danger">Страна</button>
          <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Россия</a>
            <a class="dropdown-item" href="#">Китай</a>
            <a class="dropdown-item" href="#">Индия</a>
            <a class="dropdown-item" href="#">Германия</a>
            <a class="dropdown-item" href="#">США</a>
            <a class="dropdown-item" href="#">Аргентина</a>
          </div>
        </div>
        <div class="btn-group p-2">
          <button type="button" class="btn btn-danger">Все</button>
          <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Фильмы</a>
            <a class="dropdown-item" href="#">Сериалы</a>
          </div>
        </div>


      </div>

      <div class="row">
        <div class="col-sm-12">
          <router-outlet></router-outlet> </div>
      </div>

    </div>
  </div>

  <app-pagination></app-pagination>



</div>
