
.container{
  margin: 15% 5%;
  white-space:nowrap;

}
.navbar-custom {
  color: #FFFFFF;
  background-color: #232e34;
}

.main{
  display: flex;
}
.panel{
  float: left;
}

.left{

  width: 200px; /* Ширина слоя */
  height: 1000px;
  /*margin: 1px;  Значение отступов */
  border: 1px solid #2b3142; /* Параметры границы */
  background-color: #1e262d;
}

.right{
  flex: 1;
  /*width: 570px;  Ширина слоя */
  eight: 1000px;
  /*hmargin: 1px;  Значение отступов */
  border: 1px solid #2b3142;  /*Параметры границы */
  background-color: #171d22;
}
