.block{
  height: 200px;
  width: 250px;
  margin: 50px 0px;
  background: gray;
  position: fixed;
}

.left-panel{
  border: 1px solid aliceblue;
  background-color: #1e262d;

}

.right-panel{

}

.container.film{
  margin: 3%;
}

.navbar{
  margin:0;
}
