.pagination > li > a:focus
{
  background-color: black;
}
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  z-index: 3;
  color: grey;
  background-color: #1e262d;
  border-color: #1e262d;
}
.pagination > li > a {
  z-index: 3;
  color: grey;
  background-color: #30363B;
  border-color: #1e262d;
}

.pagination>li.active>span {
  z-index: 3;
  color: grey;
  background-color: red;
  border-color: #1e262d;
}


