<div class="row">
  <div class="col-12">
    <nav aria-label="...">
      <ul class="pagination justify-content-center">



        <li *ngFor="let page of numbersActive" class="page-item" [ngClass]="{'active': page==currentPage+1}">

          <a *ngIf="!(page==currentPage+1)" (click)="pageClick($event, page)" class="page-link">
            {{page}}
          </a>

          <span *ngIf="(page==currentPage+1)" class="page-link">
            {{page}}
          <span class="sr-only">(current)</span>
          </span>
        </li>

        <li class="page-item" *ngIf="!(pages > 10)">
          <a class="page-link">
            ...
          </a>
        </li>


        <li class="page-item" *ngIf="!(pages > 10)">
          <a *ngIf="!(maxPage==currentPage+1)" (click)="pageClick($event, maxPage)" class="page-link">
          {{maxPage}}
          </a>

          <span *ngIf="(maxPage==currentPage+1)" class="page-link">
            {{maxPage}}
          <span class="sr-only">(current)</span>
          </span>
        </li>





      </ul>
    </nav>
  </div>
</div>
