<div class="row">
  <div class="col-12">
    <nav aria-label="...">
      <ul class="pagination justify-content-center">



        <li *ngFor="let page of numbers" class="page-item" [ngClass]="{'active': page==currentPage+1}">

          <a *ngIf="!(page==currentPage+1)" (click)="pageClick($event, page)" class="page-link">
            {{page}}
          </a>

          <span *ngIf="(page==currentPage+1)" class="page-link">
            {{page}}
          <span class="sr-only">(current)</span>
          </span>
        </li>






      </ul>
    </nav>
  </div>
</div>
