<div class="row my-3 mx-auto border border-danger">
  <div class="col-md-2 p-1 avatars bg-dark ">

    <a href="#" data-tooltip="Person 1" >
      <img alt="Poster" src="http://fox-fan.ru/avatars/net/net-avatara.jpg" class="">
    </a>

  </div>

  <div class="col-md-10 p-3 bg-dark filmt text-white">

    <div class="row">
      <div class="col-md-12 p">
            Vaxx2123 | VIP | 19.03.2018 15:16 | Ответить
      </div>
    </div>
      <div class="row">
          <div class="col-md-12 p">
            Да фильм хуйня какая-то нахуй он нужен блятьДа фильм хуйня какая-то нахуй он нужен блятьДа фильм хуйня какая-то нахуй он нужен блятьДа фильм хуйня какая-то нахуй он нужен блятьДа фильм хуйня какая-то нахуй он нужен блятьДа фильм хуйня какая-то нахуй он нужен блятьДа фильм хуйня какая-то нахуй он нужен блять
          </div>
      </div>


    </div>
  </div>



